set editing-mode vi
$if mode=vi

set show-mode-in-prompt on
set vi-ins-mode-string \1\033[1;32m\2I\1\033[m\2
set vi-cmd-mode-string \1\033[1;31m\2N\1\033[m\2

set keymap vi-command
# these are for vi-command mode
Control-l: clear-screen

set keymap vi-insert
# these are for vi-insert mode
Control-l: clear-screen 
$endif
